.global {
    margin-left: 255px;
}

.material-icons {
    font-size: 15px;
}

.col-sm-3 {
    width: 21%;
}
.col-sm-9 {
    width: 79%;
}

.container-sm {
    align-self: flex-end;
}

#inputSearch {
    font-size: small;
}

#inputSearch:hover {
    border: 1px solid rgba(43, 147, 239, 1);
}

.btn {
    background-color: #25a4de;
    color: white;
}

.btn:hover {
    background-color: #1e83b2;
    color: white;
}

.row {
    margin-top: 1.5rem;
}

table {
    background-color: rgba(0, 242, 254, 0.1);
}
