#login .container-fluid {
    font-family: "Poppins", sans-serif;
}

#login .login {
    background-color: #405262;
    border: 1px solid black;
    width: auto;
    display: flex;
    margin: 50px;
}

#login .login-left {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login .login-right {
    display: flex;
    align-content: flex-end;
}

#login .img-logo {
    width: 250px;
    margin-bottom: 40px;
}

#login .header h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

#login input {
    margin-bottom: 10px;
}

#login .login-form .sign-in {
    margin-top: 30px;
    width: 50%;
    height: 32px;
    background: #25a4de;
    border-radius: 5px;
    border-color: #25a4de;
    color: #fff;
}

#login .login-form .sign-in:hover {
    background: #29b0ee;
}

#login .bg-login {
    width: 100%;
    height: 80vh;
    background-size: cover;
    /* margin-left: 50px; */
}
