/* start isi rekam medis */
.date label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}
.rekam {
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.form-rekam form {
  margin-top: 24px;
}
.field {
  margin-bottom: 12px;
}
.field label {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.field textarea {
  border: 0.1px solid black;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 7px black;
  padding: 5px;
  resize: none;
}
.button-rekam {
  display: flex;
  justify-content: end;
  margin-right: 50px;
}
.button-rekam button {
  padding: 5px 16px;
  border: none;
  border-radius: 6px;
  background-color: #66ba41;
  color: black;
}
.button-rekam button:hover {
  color: white;
  background-color: #4c7d37;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(3px) translateZ(1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
/* end isi rekam medis */
